<section>
  <article class="table-container">
      <div class="column">
        <header>
          <span align="center"><%= @my_points.label %></span>
        </header>
        <div class="grid">
          <div class="data-column">
            <header>
              Today
            </header>
            <h1><%= @my_points.daily.approved %></h1>
            <footer>
              <small>Pending <%= @my_points.daily.pending %></small>
            </footer>
          </div>

          <div class="data-column">
            <header>
              This week
            </header>
            <h1><%= @my_points.weekly.approved %></h1>
            <footer>
              <small>Pending <%= @my_points.weekly.pending %></small>
            </footer>
          </div>

          <div class="data-column">
            <header>
              This month
            </header>
            <h1><%= @my_points.monthly.approved %></h1>
            <footer>
              <small>Pending <%= @my_points.monthly.pending %></small>
            </footer>
          </div>
        </div>
      </div>
      <% @friends_points.each do |point| %>
        <div class="column">
          <header>
            <span align="center"><%= point.label %></span>
          </header>
          <div class="grid">
            <div class="data-column">
              <header>
                Today
              </header>
              <h1><%= point.daily.approved %></h1>
              <footer>
                <small>Pending <%= point.daily.pending %></small>
              </footer>
            </div>

            <div class="data-column">
              <header>
                This week
              </header>
              <h1><%= point.weekly.approved %></h1>
              <footer>
                <small>Pending <%= point.weekly.pending %></small>
              </footer>
            </div>


            <div class="data-column">
              <header>
                This month
              </header>
              <h1><%= point.monthly.approved %></h1>
              <footer>
                <small>Pending <%= point.monthly.pending %></small>
              </footer>
            </div>
          </div>
        </div>
      <% end %>
  </article>
</section>

<section>
  <article>
    <%= form_with url: activities_path do |f|  %>
      <h2>Add activity</h2>

      <table>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <%= f.check_box :tasks, { multiple: true },  task.id, false %>
            </td>
            <td>
              <%= task.name  %>
            </td>
            <td>
              <%= task.point %>
            </td>
          </tr>
        <% end %>
      </table>
      <br>
      <%= f.submit "Add activity" %>
    <% end %>
  </article>
</section>

<section>
    <article>
      <h2>Review activities</h2>

      <% if @activities_to_review.empty? %>
        <div>
          Nothing to review
        </div>
      <% else %>
          <table>
            <% @activities_to_review.each do |activity| %>
              <tr>
                <td>
                  <%= check_box_tag "activities[]", activity.id, true, form: 'bulk_approval_form'  %>
                </td>
                <td>
                  <%= activity.user.email %>
                </td>
                <td>
                  <%= activity.name %>
                </td>
                <td>
                  <%= activity.point %>
                </td>
                <td>
                  <%= activity.created_at.to_fs(:short) %>
                </td>
                <td>
                  <%= activity_status(activity) %>
                </td>
                <td>
                  <%= button_to "Approve", activity_activity_approvals_path(activity) %>
                </td>
              </tr>
            <% end %>
          </table>

          <%= form_with url: bulk_activities_approvals_path, id: 'bulk_approval_form' do |f|  %>
            <%= f.submit "Approve all" %>
          <% end %>
      <% end %>
    </article>
</section>

<section>
  <article>
    <h2>My activities</h2>

    <% if @my_activities.empty? %>
      <div>
        No activities
      </div>
    <% else %>
      <table>
        <% @my_activities.each do |activity| %>
          <tr>
            <td>
              <%= activity.name %>
            </td>
            <td>
              <%= activity.point %>
            </td>
            <td>
              <%= activity.created_at.to_fs(:short) %>
            </td>
            <td>
                <%= activity_status(activity) %>
            </td>
            <td>
              <%= button_to "ðŸ—‘ï¸", activity_path(activity), method: :delete, class: 'delete-button'  %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </article>
</section>
