<div class="grid">
  <div>
    <article>
      <div class="grid">
      <div>
        <header>
          <%= @my_points.label %><br>
          Total Points this week
        </header>
        <h1><%= @my_points.weekly.approved %></h1>
        <footer>
          <p>Total pending <%= @my_points.weekly.pending %></p>
        </footer>
      </div>
      <% @friends_points.each do |point| %>
      <div>
        <header>
          <%= point.label %><br>
          Total Points this week
        </header>
        <h1><%= point.weekly.approved %></h1>
        <footer>
          <p>Total pending <%= point.weekly.pending %></p>
        </footer>
      </div>
      <% end %>
      </div>
    </article>
  </div>
  <div>
    <section>
      <article>
        <%= form_with url: activities_path do |f|  %>
          <h2>Add activity</h2>

          <table>
            <% @tasks.each do |task| %>
              <tr>
                <td>
                  <%= f.check_box :tasks, { multiple: true },  task.id, false %>
                </td>
                <td>
                  <%= task.name  %>
                </td>
                <td>
                  <%= task.point %>
                </td>
              </tr>
            <% end %>
          </table>
          <br>
          <%= f.submit "Add activity" %>
        <% end %>
      </article>
    </section>
  </div>
</div>

<section>
    <article>
      <h2>Review activities</h2>

      <% if @activities_to_review.empty? %>
        <div>
          Nothing to review
        </div>
      <% else %>
          <table>
            <% @activities_to_review.each do |activity| %>
              <tr>
                <td>
                  <%= check_box_tag "activities[]", activity.id, true, form: 'bulk_approval_form'  %>
                </td>
                <td>
                  <%= activity.user.email %>
                </td>
                <td>
                  <%= activity.task.name %>
                </td>
                <td>
                  <%= activity.point %>
                </td>
                <td>
                  <%= activity.created_at %>
                </td>
                <td>
                  <%= activity.status %>
                </td>
                <td>
                  <%= button_to "Approve", activity_activity_approvals_path(activity) %>
                </td>
              </tr>
            <% end %>
          </table>

          <%= form_with url: bulk_activities_approvals_path, id: 'bulk_approval_form' do |f|  %>
            <%= f.submit "Approve all" %>
          <% end %>
      <% end %>
    </article>
</section>

<section>
  <article>
    <h2>My activities</h2>

    <% if @my_activities.empty? %>
      <div>
        No activities
      </div>
    <% else %>
      <table>
        <% @my_activities.each do |activity| %>
          <tr>
            <td>
              <%= activity.task.name %>
            </td>
            <td>
              <%= activity.point %>
            </td>
            <td>
              <%= activity.created_at %>
            </td>
            <td>
              <%= activity.status %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </article>
</section>
