<section>
  <article>
    <h2>My activities</h2>

    <% if @activities.empty? %>
      <div>
        No activities
      </div>
    <% else %>
      <table>
        <% @activities.each do |activity| %>
          <tr>
            <td>
              <%= activity.name %>
            </td>
            <td>
              <%= activity.point %>
            </td>
            <td>
              <%= activity.created_at.to_fs(:short) %>
            </td>
            <td>
                <%= activity_status(activity) %>
            </td>
            <td>
              <%= button_to "ðŸ—‘ï¸", activity_path(activity), method: :delete, class: 'delete-button'  %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </article>
</section>

<%== pagy_nav(@pagy) %>
