<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Points</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
    <main class="container">
<nav>
  <h1>
    <%= link_to "Points!", root_path %>
  </h1>

  <ul>
    <li>
      <% if user_signed_in? %>
        <%= button_to 'Sign Out', session_path, class: 'sign_out', method: :delete %>
      <% end %>
    </li>
  </ul>
</nav>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
